<% if (!admin){ %>
    <p>Se necesita permiso de asministrador</p>
<% } else { %>
<% let index = 0%>
<%- include ("../partials/header") %>
<%- include ("../partials/navbar", {index}) %>
<div class="mx-5">
    <form class="row g-3" method="POST">
        <div class="col-md-6">
        <label for="inputTitulo" class="form-label">Titulo</label>
        <input type="text" class="form-control" id="inputTitulo" name="titulo" required>
         </div>
         <!-- <div class="col-md-6">
            <label for="inputTituloCorto" class="form-label">Titulo corto</label>
            <input type="text" class="form-control" id="inputTituloCorto" name="titulo_corto">
             </div> -->
        <div class="col-md-3">
        <label for="inputEdificio" class="form-label">Tipo de edificio</label>
        <select id="inputEdificio" class="form-select" name="tipo_de_edificio">
            <option>Departamento</option>
            <option>Casa</option>
            <option>Oficina</option>
            <option value="Terreno">Terreno</option>
        </select>
        </div>
        <div class="col-md-3">
        <label for="inputTipo" class="form-label">Tipo de disposicion</label>
        <select id="inputTipo" class="form-select" name="tipo_de_disposicion">
            <option>Renta</option>
            <option>Venta</option>
        </select>
        </div>
        <div class="col-md-2">
            <label for="inputPrecio" class="form-label">Precio</label>
            <input type="text" class="form-control" id="inputPrecio" name="precio" required>
            </div>
        <div class="col-12">
        <label for="inputDescripcion" class="form-label">Descripcion</label>
        <textarea class="form-control" id="inputDescripcion" rows="3" name="descripcion" required></textarea>
        </div>
        <div class="col-12">
        <label for="inputDireccion" class="form-label">Dirección</label>
        <input type="text" class="form-control" id="inputDireccion" name="direccion" required>
        </div>
        <div class="col-md-3">
        <label for="inputCiudad" class="form-label">Ciudad</label>
        <input type="text" class="form-control" id="inputCiudad" name="ciudad" required>
        </div>
        <div class="col-md-3">
            <label for="inputEstado" class="form-label">Estado</label>
            <input type="text" class="form-control" id="inputEstado" name="estado">
            </div>
        <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="inputZip" name="codigo_postal">
        </div>
        <div class="col-md-6">
            <label for="image" class="form-label">Upload Image</label>
            <input type="file" class="form-control" id="image" name="image" required>
        </div>
        <div class="col-12">
        <div class="form-check">
            <label class="form-check-label" for="inputFavorito"> Es favorito </label>
            <input class="form-check-input" type="checkbox" id="inputFavorito" name="favorito">
        </div>
        </div>
        <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>    
<%- include ("../partials/footer") %>

<% } %>