<% let index = 4 %>
<%- include ("partials/header") %>
<%- include ("partials/navbar", {index}) %>

<main>
    <div style="background: center / cover url(../img_contacto2.jpg); height: 300pt;">
        <div id="contacto-cont" class="container mb-5">     
            <div class="row">
                <div class="col-lg-12 col-md-12" id="info">
                    <h1 id="contacto-title">Contacto</h1>
                    <hr>    
                </div>
            </div>
        </div>
    </div>
    <!-- Start details -->
    <div class="bg-light">
        <div class="text-start py-5 ms-5">
            <h1>Contáctanos</h1>
            
        </div>  
        <div class="container">
            <div class="row pb-5 px-5 mx-5">
                <h3>Solicitar información</h3>
                <hr>
                <form class="row" action="">
                    <div class="row">
                        <label for="infoNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="infoNombre">
                    </div>
                    <div class="row">
                        <label for="infoApellido" class="form-label">Apellido</label>
                        <input type="text" class="form-control" id="infoApellido">
                    </div>
                    <div class="row">
                        <label for="infoEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="infoEmail">
                    </div>
                </form>      
            </div> 
        </div>
    </div>
    <!-- End details -->
</main>


<%- include ("partials/footer") %>