<% let index = 4 %>
<%- include ("partials/header") %>
<%- include ("partials/navbar", {index}) %>

<main>
    <div style="background: center / cover url(../img_contacto2.jpg); height: 300pt;">
        <div id="contacto-cont" class="container mb-5">     
            <div class="row">
                <div class="col-lg-12 col-md-12" id="info">
                    <h1 id="contacto-title">Contacto</h1>
                    <hr>    
                </div>
            </div>
        </div>
    </div>
</main>


<%- include ("partials/footer") %>