<%- include ("partials/header") %>

<body class="text-center">
    
    <main class="form-signin login_main">
      <form method="POST">
        <img src="../../Orendi.jpeg" alt="No image" width="200" height="100">
        <h1 class="h3 mt-5 mb-5 fw-normal">Ingresar como administrador</h1>
    
        <div class="form-floating mb-1">
          <input type="email" class="form-control" id="floatingInput" name="email">
          <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-5">
          <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
          <label for="floatingPassword">Password</label>
        </div>
        <button class="btn btn-lg btn-primary" type="submit">Sign in</button>
      </form>
    </main>
    
    
        
      
    
</body>