<% let index = 3 %>
<%- include ("partials/header", {index}) %>

<main>
    <!-- <div style="background: center / cover url(../IMG_20181228_111709467.jpg); height: 300pt;"> -->
    <!-- <div style="background: center / cover url(../IMG_20190723_190007133_HDR.jpg); height: 300pt;"> -->
    <div style="background: bottom / cover url(../img_properties2.jpg); height: 300pt;">
        <div id="propiedades-cont" class="container mb-5">     
            <div class="row">
                <div class="col-lg-12 col-md-12" id="info">
                    <h1 id="propiedades-title">Propiedades</h1>
                    <hr>    
                </div>
            </div>
        </div>
    </div>
</main>


<%- include ("partials/footer") %>